<?php
# {{ ansible_managed }}

$config['web_url'] = "https://observium.freifunk-duesseldorf.de/";

$config['db_host'] = 'localhost';
$config['db_user'] = 'observium';
$config['db_pass'] = 'observium';
$config['db_name'] = 'observium';
$config['db_extension'] = 'mysqli';

$config['install_dir'] = "/opt/observium";

$config['snmp']['community'] = array("{{ snmp_community }}");
$config['snmp']['transports'] = array('udp6', 'udp');

$config['auth_mechanism'] = "mysql";
$config['enable_syslog'] = 1;

$config['rrd_dir'] = "{{ observium_cache_dir }}/rrd";
$config['rrdcached'] = "unix:/run/rrdcached.sock";

$config['housekeeping']['syslog']['age'] = 86400;
$config['housekeeping']['eventlog']['age'] = 86400;
$config['housekeeping']['rrd']['age'] = 86400;
$config['housekeeping']['rrd']['invalid'] = TRUE;
$config['housekeeping']['deleted_ports']['age'] = 86400;
$config['housekeeping']['timing']['age'] = 86400;

$config['geocoding']['api'] = 'google';

$config['device_traffic_iftype'] = array('/loopback/','/tunnel/','/virtual/','/mpls/');
$config['device_traffic_descr'] = array('/loopback/','/vlan/','/tunnel/','/:\d+/','/gretap\d+/','/l2tp\d+/','/tun-.+/','/dummy\d+/','/supernode/','/bat\d+/','/br\d+/','/alfred\d+/','/tap\d+/','/bb-.*/','/tap-.*/');
$config['bad_if_regexp'][] = "/l2tp/";

$config['web_session_ip'] = FALSE; 

// End config.php
