[Unit]
Description=Observium housekeeping
Requires=mariadb.service

[Service]
Type=oneshot
ExecStart=/opt/observium/housekeeping.php -ay
User=www-data
