[Unit]
Description=Observium Poller
Requires=mariadb.service
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/observium/poller-wrapper.py
User=www-data
