[Unit]
Description=Observium Discovery
Requires=mariadb.service
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/observium/discovery.php -h %i
User=www-data
